*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-text-color: #1e293b;
  --secondary-text-color: #0f172a;
  --primary-button-color: #1d4ed8;
  --secondary-button-color: #db2777;
  --padding-inline-section: 20px;
}

body{
  font-family: Roboto, arial;
  color: var(--primary-text-color);
  /* height: 1000px; */
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}

p{
  font-family: Roboto,Arial;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a{
  text-decoration: none;
  display: inline-block;
}

.container{
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}
